<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/stylesheets/style.css">
  
</head>
<body> 
  
<div class="contenedor">
   <header class="encabezado">
    <h1>ARRIBA EL ÁNIMO</h1>
    <h3>... baila como si nadie te estubiera mirando ...</h3>
    <nav>
        <ul>
            <li><a href="#" class="destacado">MOTIVACIÓN</a></li>
            <li><a href="deportes.html.erb">DEPORTES</a></li>
            <li><a href="farandula.html.erb">FARANDULA</a></li>
            <li><a href="internacional.html.erb">INTERNACIONAL</a></li>
            <li><a href="nacional.html.erb">NACIONAL</a></li>
            <li><a href="#">POLÍTICA</a></li>
        </ul>
                
    </nav>
   </header>
<main class="contenido"> 
        <h2>ARRIBA EL ÁNIMO ES UNA COMUNIDAD DE BUENAS NOTICIAS</h2>
        <br><br>
        <div class="columna">
            <p>Somos una COMUNIDAD que sólo te brindará buenas noticias, nos interesa generar un cambio positivo ... creemos que hace falta compartir buenas noticias 
                <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, ratione non expedita totam, esse iusto beatae odio ipsa repellat quasi veritatis odit placeat enim architecto repudiandae, ducimus voluptas. Saepe, repellat! <samp class="destacado"> LA VIDA PUEDE SER POSITIVA!!</samp>
                <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptatem sunt quis ipsa vitae ullam culpa enim quos adipisci unde, architecto recusandae quo rerum eum, perspiciatis cum doloremque officiis. Aspernatur. <br> 
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex asperiores, itaque consequatur esse a, odit vero natus voluptas facilis maxime temporibus laboriosam aliquam saepe nam. Perferendis nulla id pariatur magni? 
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi libero adipisci autem officiis explicabo ex ea unde accusamus consequatur aliquam tempora veritatis sequi, sed ipsam magni culpa a! Delectus, est.<br> 
                <samp class="destacado"> AYUDANOS A CAMBIAR ESTO... </samp>
            </p>
        </div>
</main>
        <div class="caja1"> 
            <H3>... ESTO ES PURO RELLENO</H3>
        </div>
        <div class="caja2">
            <h3>...esto es puro relleno</h3>
        </div>
        <div class="caja3">
            <h3>...esto es puro relleno</h3>
        </div>
        <div class="caja4">
            <h3>...esto es puro relleno</h3>
        </div>

        <footer class="footer">
            <h5>desarrollado por: Denisse "bellota" Peña - Karla "bombon" Lodi - Mari "burbuja" Diaz-Valdés - Seba "mojojojo" Carrasco<br>    @tarea1modulo8 | 2022</h5>
        </footer>

</div>

</body>



