<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/stylesheets/style.css">
  
</head>
<body> 
  
<div class="contenedor">
<header class="encabezado">
    <h1>NACIONAL</h1>
    <p> qui ti pa' hermanito ...  solas poh' somos terrible'secas...  traajando sin ayuda de ningun gil</p>
</header>
</div>
</body>